{% extends"main.html" %}

{% block conteudo %}
    <div class="row">
        <div class="col-12 text-center">Teste Sensedata</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 offset-3">
                <div class="row">
            <div class="col-6 text-center">
                <a href="/personagem" class="btn btn-primary">personagens do Start War</a>
            </div>
            <div class="col-6 text-center">
                <a href="/starships" class="btn btn-danger">Tabela com dados das startships</a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
