{% extends("main.html") %}

{% block conteudo %}

    <div class="row">
        <div class="col-12 text-center text-primary"><h2>Relação de personagens Star Wars</h2></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 offset-3">
            <table width="100%">
                <tr>
                    <td>Ordenação</td>
                    <td align="center">Filtros</td>
                </tr>
                <tr>
                    <td>
                        <select id="ordem" name="ordem" class="form-control">
                            <option value="name">Nome</option>
                            <option value="gender">Genero</option>
                            <option value="mass">Peso</option>
                            <option value="height">Altura</option>
                        </select>
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td>Filmes</td>
                                <td>Naves</td>
                                <td>Veiculos</td>
                                <td>Planetas</td>
                            </tr>

                            <form action="/personagem/filtrar" method="post">
                            <tr>
                            <input type="hidden" name="page" id="page" value="{{ atualPage }}">
                            <input type="hidden" name="url" id="url" value="{{ url }}">
                                <td>
                                    <select id="films" name="films" class="form-control">
                                        <option value="todos">Todos</option>
                                        {% for row in films %}
                                            <option value="{{ row['title'] }}">{{ row['title'] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select id="starships" name="starships" class="form-control">
                                        <option value="todos">Todas</option>
                                        {% for row in starships %}
                                            <option value="{{ row['name'] }}">{{ row['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                     <select id="vehicles" name="vehicles" class="form-control">
                                        <option value="todos">Todos</option>
                                        {% for row in vehicles %}
                                            <option value="{{ row['name'] }}">{{ row['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                     <select id="planets" name="planets" class="form-control">
                                        <option value="todos">Todos</option>
                                        {% for row in planets %}
                                            <option value="{{ row['name'] }}">{{ row['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                             </tr>
                            <tr>
                                <td colspan="4" align="right"><button class="btn btn-primary">Filtrar</button></td>
                            </tr>
                            </form>

                        </table>
                    </td>
                </tr>

            </table>

            <div class="row">
                <div class="col-12">
                    <table class="table table-primary">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Peso</th>
                            <th>Altura</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row['name'] }}</td>
                                <td>{{ row['gender'] }}</td>
                                <td>{{ row['mass'] }}</td>
                                <td>{{ row['height'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if prevPage != None %}
                        <a href="{{ prevPage }}" class="btn btn-primary">Anterior</a>
                    {% endif %}
                    {% if nextPage != None %}
                        <a href="{{ nextPage }}" class="btn btn-primary">Próximo</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function () {

            var order = $('#ordem');
            var page = $('#page');


            order.change(function () {
                port = location.port
                url = location.protocol + '://' + location.hostname
                if (location.port !== '') {
                    url = url + ':' + port
                }
                url = '/personagem/' + order.val() + '/' + page.val();
                location.href = url;
            });
        });

    </script>
{% endblock %}