{% extends("main.html") %}

{% block conteudo %}
    <div class="row">
        <div class="col-12 text-center text-primary"><h2>Relação de Starships</h2></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-12">
                    <table class="table table-primary">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Modelo</th>
                            <th>Fabricante</th>
                            <th>score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in starships %}
                            <tr>
                                <td>{{ row['name'] }}</td>
                                <td>{{ row['model'] }}</td>
                                <td>{{ row['manufacturer'] }}</td>
                                <td>{{ "%.9f" % row['score'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                    <div class="row">
                <div class="col-12">
                    {% if prevPage != None %}
                        <a href="{{ prevPage }}" class="btn btn-primary">Anterior</a>
                    {% endif %}
                    {% if nextPage != None %}
                        <a href="{{ nextPage }}" class="btn btn-primary">Próximo</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}